<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="p-10">
      <div class="flex justify-between">
        <p>ЖИМОБАЙЛ ХХК</p>
        <p><%= document.generate %></p>
      </div>
      <div class="text-center">
        <b><%= document.title %></b>
      </div>
      <div>
        <p class="title">
          ТЕСТИЙН ҮЙЛ АЖИЛЛАГААНД АШИГЛАГДСАН ДУГААРУУД:
        </p>
        <table class="custom-table">
          <tr>
            <th >№</th>
            <th >Үйлчилгээний төрөл</th>
            <th >Утасны дугаар</th>
            <th >Дугаарын нөхцөл</th>
          </tr>
          <tr class="text-center">
            <td >1</td>
            <td >1</td>
            <td >1</td>
            <td >1</td>
          </tr>
        </table>
      </div>
      <div class="mt-8">
        <p class="title">ТЕСТЭД ОРОЛЦСОН АЖИЛТНУУД:</p>
        <table class="custom-table">
          <thead>
            <tr>
              <th >№</th>
              <th >Нэр</th>
              <th >Хэлтэс</th>
              <th >Албан тушаал</th>
              <th >Үүрэг</th>
              <th >Гарын үсэг</th>
            </tr>
          </thead>
          <tbody>
            <% document.documentemployee.forEach((employeeData, index) => { %>
            <tr class="text-center">
              <td ><%= index + 1 %></td>
              <td >
                <%= convertFirst(employeeData.employee.firstname) %> <%=
                employeeData.employee.lastname %>
              </td>

              <td >
                <%= employeeData.employee.department ?
                employeeData.employee.department.name : '' %>
              </td>
              <td >
                <%= employeeData.employee.jobPosition.name %>
              </td>
              <td >
                <%= employeeData.role %>
              </td>
              <td ></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

      <div class="mt-8">
        <p class="title">ТЕСТЭД ХИЙСЭН ХУВААРЬ:</p>
        <table class="custom-table">
        <thead>
          <tr>
            <th >Үйл ажиллагаа</th>
            <th >Хариуцагч</th>
            <th >Эхлэх хугацаа</th>
            <th >Дуусах хугацаа</th>
          </tr>
        </thead>
        <tbody>
          <% document.documentemployee.forEach((employeeData, index) => { %>
            <tr class="text-center">

              <td >
               <%= employeeData.role %>
              </td>

              <td >
               <%= convertFirst(employeeData.employee.firstname) %> <%=
                employeeData.employee.lastname %>
              </td>
              <td >
                <%= new Date(employeeData.startedDate).toLocaleDateString() %>
              </td>
              <td >
                <%= new Date(employeeData.endDate).toLocaleDateString() %>
              </td>
              
            </tr>
            <% }) %>
          </tbody>
        </tbody>
        </table>
      </div>

      <div class="mt-8">
        <p class="title">ТЕСТЭД КЭЙС:</p>
        <table class="custom-table">
          <thead>
            <tr>
              <th >ID</th>
              <th >Ангилал</th>
              <th >Тодорхойлолт</th>
              <th >Алхмууд</th>
              <th >Эцсийн үр дүн</th>
              <th >Тайлбар</th>
            </tr>
          </thead>
       
          <tbody>
            <% document.testcase.forEach((employeeData, index) => { %>
              <tr class="text-center">

               <td ><%= index + 1 %></td>
                
                <td > <%= employeeData.category %></td>
                <td ><%= employeeData.types %></td>
                <td ><%= employeeData.steps %></td>
                <td ><%= employeeData.result %></td>
                <td ></td>
              </tr>
              <% }) %>
           </tbody>
        </table>
      </div>


      <div class="mt-8">
        <p class="title">Бусад нөхцөл (Олгох бэлгийн мэдээлэл болон урамшууллын эрхүүд)</p>
        <table class="custom-table">
          <thead>
            <tr>
              <th >ID</th>
              <th >Ангилал</th>
              <th >Тодорхойлолт</th>
              <th >Алхмууд</th>
              <th >Эцсийн үр дүн</th>
              <th >Тайлбар</th>
            </tr>
          </thead>
       
          <tbody>
            <% document.testcase.forEach((data, index) => { %>
              <tr class="text-center">

               <td ><%= index + 1 %></td>
                
                <td > <%= data.category %></td>
                <td ><%= data.types %></td>
                <td ><%= data.steps %></td>
                <td ><%= data.result %></td>
                <td ></td>
              </tr>
              <% }) %>
           </tbody>
        </table>
      </div>

      <div class="mt-8">
        <p class="title">Алдааны бүртгэлийн хуудас</p>
        <table class="custom-table">
          <thead>
            <tr>
              <th >№</th>
              <th >Алдааны жагсаалт</th>
              <th >Алдааны түвшин</th>
              <th >Алдаа гарсан эсэх</th>
            </tr>
          </thead>
          <tbody>
            <% document.report.forEach((report) => { %> 
              <% report.issue.forEach((issueData, index) => { %>
                <tr class="text-center">
                  <td ><%= index + 1 %></td>
                  <td ><%= issueData.list %></td>
                  <td ><%= issueData.level %></td>
                  <td >
                    <%= issueData.exception ? "Тийм" : "Үгүй" %>
                  </td>
                </tr>
              <% }) %>
            <% }) %>
          </tbody>
        </table>
      </div>

       <div class="mt-8">
        <p class="title">Үндсэн сервер дээр хийгдсэн тестийн үр дүн:</p>
      </div>

     <table class="custom-table">
      <tbody>
        <% document.testcase.forEach((data, index) => { %> 
          <tr class="text-center">
            <td > <%= data.result %></td>
          </tr>
          <tr>
            <td class="border border-slate-400 px-6"> <%= data.description %></td>
          </tr>
          <% if (data.testCaseImage.length > 0) { %>
          <tr>
            <td class="">
              <% data.testCaseImage.forEach((image) => { %>
                <img src="http://127.0.0.1:3000<%= image.path %>" alt="" width="100" height="100" />
              <% }) %>
            </td>
          </tr>
        <% } %>

        <% }) %>
      </tbody>
    </table>
      
    </main>
    <% function convertFirst(firstname){ return firstname[0]+"." } %>
    
  </body>
  <style>
    @font-face {
    font-family: 'ArialCustom';
    src: url('/Arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
    html {
      padding: 20px;
    }
  .title {
    margin: 16px 0;
    font-weight: bold;
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #94a3b8;
  }

  .custom-table th,
  .custom-table td {
    border: 1px solid #94a3b8;
    padding: 8px;
    text-align: center;
  }

  .custom-table th {
    background-color: #f1f5f9;
  }
</style>
</html>
