<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тайлан</title>
  </head>

  <body>
    <main style="padding: 20px 40px; font-family: Arial, Helvetica, sans-serif">
      <div>
        <p style="opacity: 70%">ЖИМОБАЙЛ ХХК</p>
        <p style="font-weight: bold; text-align: center; font-size: 28px">
          <%= record.report.reportname %>
        </p>
      </div>
      <div>
        <p style="font-weight: bold; font-size: 20px">ЗОРИЛГО:</p>
        <p><%= record.report.reportpurpose %></p>
      </div>

      <div>
        <p style="font-weight: bold; font-size: 20px">
          ТЕСТИЙН ҮЙЛ АЖИЛЛАГААНД АШИГЛАСАН ДУГААРУУД:
        </p>
        <table class="custom-table">
          <thead>
            <tr>
              <th>№</th>
              <th>Үйлчилгээний төрөл</th>
              <th>Утасны дугаар</th>
              <th>Дугаарын нөхцөл</th>
              <th>Сиреал дугаар</th>
            </tr>
          </thead>
          <tbody>
            <% record.report.usedphone.forEach((data, index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= convertPhoneType(data.type) %></td>
              <td><%= data.phone %></td>
              <td><%= data.description %></td>
              <td><%= data.serial %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div>
        <p style="font-weight: bold; font-size: 20px">
          ТЕСТИЙН БАГИЙН БҮРЭЛДЭХҮҮН, ТЕСТ ХИЙСЭН ХУВААРЬ
        </p>
        <table class="custom-table">
          <thead>
            <tr>
              <th>№</th>
              <th>Албан тушаал</th>
              <th>Ажилтны нэр</th>
              <th>Үүрэг</th>
              <th>Эхлэх хугацаа</th>
              <th>Дуусах хугацаа</th>
            </tr>
          </thead>
          <tbody>
            <% record.documentemployee.forEach((data, index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td>
                <%= filterDepartment(data.employee.department?.name) %> - <%=
                data.employee.jobPosition?.name %>
              </td>
              <td>
                <%= convertFirst(data.employee.lastname) %>
                <%=data.employee.firstname %>
              </td>
              <td><%= data.role %></td>
              <td><%= new Date(data.startedDate).toLocaleDateString() %></td>
              <td><%= new Date(data.endDate).toLocaleDateString() %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div>
        <p style="font-weight: bold; font-size: 20px">ТЕСТИЙН ЯВЦЫН ТОЙМ:</p>
        <%= record.report.reportprocessing %>
      </div>

      <div>
        <p style="font-weight: bold; font-size: 20px">
          ТЕСТИЙН КЭЙСИЙН ҮР ДҮН:
        </p>
        <table class="custom-table">
          <tbody>
            <% record.report.testcase.forEach((data, index) => { %>
            <tr
              style="
                text-align: center;
                font-size: large;
                background-color: rgb(122, 175, 236);
              "
            >
              <td><%= data.types %></td>
            </tr>
            <tr>
              <td style="border: 1px solid gray; padding: 6px">
                <%= data.description %>
              </td>
            </tr>
            <tr>
              <td>
                <div
                  style="
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 20px;
                  "
                >
                  <% data.testCaseImage.forEach((image, imgIndex) => { %>
                  <section>
                    <div style="text-align: center; margin-bottom: 5px">
                      <span style="background: #f0f0f0; padding: 3px">
                        Зураг <%= imgIndex + 1 %>/<%= data.testCaseImage.length
                        %>
                      </span>
                    </div>
                    <div style="height: 300px; text-align: center">
                      <img
                        src="http://192.168.6.144:3000<%= image.path %>"
                        style="
                          max-width: 100%;
                          max-height: 100%;
                          object-fit: contain;
                        "
                      />
                    </div>
                  </section>
                  <% }) %>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

      <div>
        <p style="font-weight: bold; font-size: 20px">
          ТЕСТИЙН ТӨСӨВ ЗАРЦУУЛСАН БАЙДАЛ:
        </p>
        <table class="custom-table">
          <thead>
            <tr>
              <th>№</th>
              <th>Ангилал</th>
              <th>Төрөл</th>
              <th>Тоо ширхэг</th>
              <th>Нэгж үнэ (₮)</th>
              <th>Нийт үнэ (₮)</th>
            </tr>
          </thead>
          <tbody>
            <% if (record.budget.length === 0) { %>
            <tr>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <% } else { %> <% record.budget.forEach((data, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= data.productCategory %></td>
              <td><%= data.product %></td>
              <td><%= data.amount %></td>
              <td><%= data.priceUnit %></td>
              <td><%= data.priceTotal %></td>
            </tr>
            <% }) %> <% } %>
          </tbody>
        </table>
      </div>

      <div style="margin: 20px 0">
        <table class="custom-table">
          <thead>
            <tr>
              <th>№</th>
              <th>Нийт авсан мөнгөн дүн (₮)</th>
              <th>Нийт зарцуулсан дүн (₮)</th>
              <th>Төсөвөөс хэтэрсэн дүн (₮)</th>
            </tr>
          </thead>
          <tbody>
            <% if (record.report.budget.length < 1) { %>
            <tr>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <% } else { %> <% record.report.budget.forEach((data, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= data.total %></td>
              <td><%= data.spent %></td>
              <td><%= data.excess %></td>
            </tr>
            <% }) %> <% } %>
          </tbody>
        </table>
      </div>

      <div>
        <p style="font-weight: bold; font-size: 20px">ТЕСТИЙН ДҮГНЭЛТ:</p>
        <%= record.report.reportconclusion %>
      </div>
    </main>

    <% function convertFirst(lastname){ return lastname[0]+"." } %> <% function
    filterDepartment(department){ return department .split(" ") .map((word) =>
    word[0].toUpperCase()) .join(""); } %> <% const roles = { "VIEWER": "Хянах",
    "DEV": "Нөхцөлөөр хангах", "TESTER": "eБоловсруулах" }; function
    convertPhoneType(type) { return type === "PERPAID" ? "Урьдчилсан төлбөрт" :
    "Дараа төлбөрт"} %>
  </body>
  <style>
    .custom-table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid black;
    }
    .custom-table th,
    .custom-table td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
      break-inside: auto;
    }

    .custom-table th {
      background-color: rgb(122, 175, 236);
    }

    @media print {
      .custom-table {
        overflow: hidden;
      }

      .custom-table td {
        break-inside: auto;
        page-break-inside: auto;
      }

      table {
        page-break-inside: auto;
      }
      tr {
        page-break-inside: auto;
      }
      td {
        page-break-inside: auto;
      }

      img {
        display: block;
        break-inside: avoid;
        max-height: none;
      }
    }
  </style>
</html>
